<footer class="footer">
    <div class="footer-block author">
        <ul>
            <li> created by Grupo Inova TCE - </li>
            <li> <a href="/team">Conheça a equipe</a> </li>
        </ul>
    </div>
    <div class="footer-block author">
        <ul>
            <li> <a href="/swagger-ui.html">API</a> </li>
        </ul>
    </div>
</footer>
