<header class="header">
    <div class="header-block header-block-collapse hidden-lg-up"> <button class="collapse-btn" id="sidebar-collapse-btn">
        <i class="fa fa-bars"></i>
    </button> </div>
    <div class="header-block header-block-buttons">
        <h3>Controle de combustíveis</h3>
    </div>
</header>
