<article class="content dashboard-page">
    <div class="card">
        <div class="card-body">
            <p>O setup atualiza os totais  e refaz cálculos intermediários. </p>
            <button class="btn btn-primary" ng-click="$ctrl.doSetup()">Prosseguir com o setup?</button>
        </div>
    </div>
</article>