<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="modalLabel">Uso do combustível</h4>
</div>
<!-- modal-header-->

<div class="modal-body">

    <div class="row">

       <p>Modal de despesas</p> <!-- TODO -->

    </div><!-- row -->

</div><!-- modal-body-->
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a data-dismiss="modal" class="btn btn-link">Fechar</a>
            </div>
        </div>
    </div><!-- submit row -->
</div>
