<article class="content dashboard-page">
    <div class="pull-right">
        <h4>
            {{ year}}
        </h4>
    </div>
    <div class="title-block">
        <p class="title-description"> Entenda o uso de veículos públicos e os gastos com combustível em seu município </p>
    </div>
    <div>
        <!--<iframe frameborder="0" height="100%" width="100%" marginheight="0" marginwidth="0" id="iframe_mapa" name="iframe_mapa" src="/map?codigo=41"></iframe>-->
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="text" ng-model="city" ng-model-options="modelOptions" uib-typeahead="c as c.nmMunicipio for c in cityList | filter:$viewValue | limitTo:8" class="form-control">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <select class="form-control" name="entity" ng-model="entityData" required
                                ng-options="e as e.nmEntidade for e in entityDataList">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-6 stats-col">
                <div class="card" data-info="city" year="year"></div>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-6 history-col">
                <div class="card" data-fuel-chart="entityData._id" ></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-6 history-col">
                <div class="card sameheight-item sales-breakdown" data-exclude="xs,sm,lg">
                    <div class="card-header">
                        <div class="header-block">
                            <h3 class="title"> Preços médios</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Combustível</td>
                                <td class="text-xs-right">Médio </td>
                                <td class="text-xs-right">Mínimo</td>
                                <td class="text-xs-right">Máximo</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="p in priceAggregate">
                                <td><b>{{ p.key }}</b></td>
                                <td class="text-xs-right">$ {{ p.avg | number:2 }}</td>
                                <td class="text-xs-right">$ {{ p.min | number:2 }}</td>
                                <td class="text-xs-right">$ {{ p.max | number:2 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-6 history-col">
                <div class="card sameheight-item sales-breakdown" data-exclude="xs,sm,lg">
                    <div class="card-header">
                        <div class="header-block">
                            <h3 class="title"> Consumo </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Combustível</td>
                                <td class="text-xs-right">Litros ou m3</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="u in usageAggregate" ng-if="u.total != 0">
                                <td><b>{{ u.key }}</b></td>
                                <td class="text-xs-right">{{ u.total | number:0 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>