<article class="content dashboard-page">
    <div class="pull-right">
    </div>
    <div class="title-block">
        <p class="title-description"> Entenda o uso de veículos públicos e os gastos com combustível em seu município </p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <form class="form-inline">
                    <div class="form-row">
                        <div class="col">
                            <select class="custom-select custom-select-sm form-control" ng-model="year" required ng-options="option as 'Ano '+option for option in [2017]" ></select>
                        </div>
                        <div class="col">
                            <select class="custom-select custom-select-sm form-control" ng-model="showingCities" style="max-width: 10em;"
                                    ng-options="option as 'Mostrar '+option for option in [5,10,20,50]">
                            </select>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <br>
    <section class="section">
        <div class="card" data-usage-chart="0" data-showing="showingCities">
            <span class="pull-right">
                <!--<div class="dropdown show">-->
                <!--<a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"-->
                   <!--aria-haspopup="true" aria-expanded="false">Mostrar {{ showingCities }}</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
                    <!--<a class="dropdown-item" ng-click="$ctrl.setShowingCities(5)">Mostrar 5</a>-->
                    <!--<a class="dropdown-item" ng-click="$ctrl.setShowingCities(10)">Mostrar 10</a>-->
                    <!--<a class="dropdown-item" ng-click="$ctrl.setShowingCities(20)">Mostrar 20</a>-->
                    <!--<a class="dropdown-item" ng-click="$ctrl.setShowingCities(50)">Mostrar 50</a>-->
                <!--</div>-->
                <!--</div>-->

            </span>
            <span>Despesa com Combustível - R$ 1000</span>
        </div>
    </section>
    <section class="section">
        <div class="card" data-usage-chart="1" data-showing="showingCities">
            <span>Despesa Média por Habitante - R$ 1/hab</span>
        </div>
    </section>
    <section class="section">
        <div class="card" data-usage-chart="2" data-showing="showingCities">
            <span>Despesa Média por Área - R$ 1/km<sup>2</sup></span>
        </div>
    </section>
    <!--<section class="section">-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<div class="header-block">-->
                    <!--<h3 class="title"> Exclusões </h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card-body">-->
                <!--<p>Alguns municípios foram excluídos da análise por apresentarem inconsistências, ainda não resolvidas, que poderiam-->
                <!--prejudicar a comparação com os demais.</p>-->
            <!--</div>-->
            <!--<ul class="list-group">-->
                <!--<li class="list-group-item" ng-repeat="e in exclusions">-->
                    <!--<div class="row" >-->
                        <!--<div class="col-md-4">{{ e.nmMunicipio }}</div>-->
                        <!--<div class="col-md-8">{{ e.motive }}</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="list-group-item"></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</section>-->
</article>
<!--
 ! Modal comparativo.
 !-->
<div class="modal fade" id="modal-compare" backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <#include "index-00-compare.html" />
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal-fade -->

