<article class="content">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" ng-init="teamTab=0;">
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active': teamTab==0}" ng-click="teamTab=0;">Participantes externos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active': teamTab==1}" ng-click="teamTab=1;">Participantes do TCE/PR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'active': teamTab==2}" ng-click="teamTab=2;">Sobre o Inova TCE/PR</a>
                </li>
            </ul>
        </div>
        <div ng-show="teamTab==0" class="card-body text-left" ng-repeat="d in developers" data-developer-profile="d"></div>
        <div ng-show="teamTab==1" class="card-body text-left" ng-repeat="s in sponsors" data-sponsor-profile="s"></div>
        <div ng-show="teamTab==2" class="card-body text-left" >
            <div class="text-center">
                <h1>Programa de Inovação Cívica - Inova TCE/PR</h1>
                <h1><hr></h1>
                <img src="/photos/34432541456_66d3ffff61_z.jpg">
                <hr>
            </div>
            <p>O Programa de Inovação Cívica do Tribunal de Contas do Paraná selecionou 20 cidadãos paranaenses - programadores, designers e ativistas cívicos - para, numa parceria com técnicos da Corte de Contas, desenvolver soluções tecnológicas que contribuam para o processo de fiscalização e controle social.</p>
            <hr>
            <div class="alert">
                <p>Os dados utilizados para esta ferramenta foram declarados pelos municípios ao Tribunal de Contas do Estado do Paraná. Quaisquer inconsistências detectadas a partir de análises realizadas precisam ser avaliadas e ou checadas junto às municipalidades.</p>
            </div>
        </div>
    </div>
</article>
